@charset "UTF-8";

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* .logo {
    height: 25px;
    width: auto;
} */

.logo img {
    height: 25px;
    width: auto;
}

/* #logo-size {
    height: 20px;
    width: auto;
} */

#try-it-button {
    float: right;
}

/* img {
    width: 100%;
    height: auto;
} */



