@charset "UTF-8";

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 50px;
}

.logo img {
    height: 20px;
    width: auto;
    padding-top: 3px;
}

.submit-button {
    float: right;
}

#try-it-button {
    background-color: #fff;
    font-size: .7em;
    color: hsl(322, 100%, 66%);
    /* text-shadow: 0 0 0 1px hsla(322, 100%, 66%, 0.3);       Use for hover */
    padding: 5px 17px;
    border: solid 1px;
    border-radius: 4px;
    border-color: hsl(322, 100%, 66%);
    box-shadow: 0 0 0 2px hsla(322, 100%, 66%, 0.1);
    cursor: pointer;
}

#get-started-button {
    background-color: hsl(322, 100%, 66%);
    font-size: .7em;
    color: #fff;
    /* text-shadow: 0 0 0 1px hsla(322, 100%, 66%, 0.3);       Use for hover */
    padding: 10px 30px;
    border: none;
    /* border: solid 1px; */
    border-radius: 4px;
    border-color: hsl(322, 100%, 66%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 5px 5px 2px #d3d3d3;  */
    cursor: pointer; 
}

/* main {
    margin: 40px 25px;
} */

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
}

#info_1 {
    padding: 0 45px 20px;
}

#info_1 p {
    color: hsl(208, 11%, 55%);
    text-align: center;
}

#info_2 {
    padding: 40px 25px;
    background-color: #f6fbff;
}

#info_2 p {
    color: hsl(208, 11%, 55%);
    padding-bottom: 25px;
}

#info_3 {
    padding: 80px 0;
    text-align: center;
}

#screen-mockups img {
    padding: 40px 0 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
}

#your-users {
    padding-top: 30px;
    background-color: #f6fbff;
}

#your-users img {
    padding: 40px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
}

#footer-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 80px 25px 5px;
    color: #fff;
    background-color: hsl(192, 100%, 9%); 
}

#footer-1 a {
    color: #fff;
}

#footer-1 a:link {
    text-decoration: none;
}

#footer-1 p {
    font-size: 1em;
}

.footer-1-svg {
    height: 30px;
    width: auto;
    padding: 15px 0;
}

#footer-1 form {
    padding-bottom: 20px;
    text-align: start;
    text-transform: uppercase;
}

::placeholder {
    color: lightgrey;
}

#footer-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    color: #cbd9e2;
    padding: 55px 25px 10px;
    text-align: center;
    background-color: hsl(192, 100%, 9%); 
    background-image: url(images/bg-footer-mobile.png);
    background-size: 100% 100%;
}

#email-input {
    border: none;
    padding: 9px 40px 9px 10px;
    vertical-align: middle;
}

#arrow-button {
    margin-left: -4px;
    padding: 11px;
    background-color: hsl(322, 100%, 66%);
    vertical-align: middle;
}

#social-icons {
    padding: 20px 0;
}

#social-icons ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
 }

#social-icons li {
    height: 30px;
    width: 30px;
    padding-right: 15px;
    fill: #fff;
}

#links-1 {
    padding: 10px 0;
}
 
#links-2 {
    padding: 10px 0;
}

/* #sub-input-field {
    padding-right: 20px;
} */
